yieldfixture
========================================

.. image:: https://travis-ci.org/podhmo/yieldfixture.svg?branch=master
    :target: https://travis-ci.org/podhmo/yieldfixture

how to use
----------------------------------------

.. code-block:: python

  {{"examples/00simple.py"|read_from_file|indent(2, False)}}

output

.. code-block::

  {{"python examples/00simple.py"|read_from_command|indent(2, False)}}

with context
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

.. code-block:: python

  {{"examples/01usecontext.py"|read_from_file|indent(2, False)}}

output

.. code-block::

  {{"python examples/01usecontext.py"|read_from_command|indent(2, False)}}

selective fixture activation
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

.. code-block:: python

  {{"examples/03selective.py"|read_from_file|indent(2, False)}}

output

.. code-block::

  {{"python examples/03selective.py"|read_from_command|indent(2, False)}}
